.App {
  text-align: center;
}

.board {
  width: 14rem;
  height: 14rem;
  margin: 0 auto;
  background: rgb(239 239 239);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cell {
  width: 4.3rem;
  height: calc(4.3rem - 1.8rem);
  padding-top: 1.8rem;
  font-size: 2.8em;
  line-height: 0;
  flex: 33% 33% 33%;
  border: 1px solid #fff;
}
